@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
    font-family: "Envy Code R";
    src: url("assets/Envy Code R.ttf") format(truetype);
}
@font-face {
    font-family: "Envy Code R Bold";
    src: url("assets/Envy Code R Bold.ttf") format(truetype);
}

:root {
    --mainbgcol: linear-gradient(180deg, rgba(0,0,63,1) 0%, rgba(0,63,191,1) 100%);
    --maintextcol: rgba(191,191,191,1);
}

* {
    font-family: "Envy Code R", sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 16px 32px;
    background: var(--mainbgcol);
}

header {
    color: rgba(191,191,191,1);
    font-family: "Envy Code R Bold", sans-serif bold;
}

section {
    margin: 16px 0px;
    border: none;
    border-radius: 16px;
    padding: 16px 16px;
    color: var(--maintextcol);
    background: rgba(0,0,0,0.5);
}

a.nerdfontlink {
    color: var(--maintextcol);
    text-decoration: none;
}